* {
	box-sizing: inherit;
}
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
html {
	box-sizing: border-box;
}
*::before, *::after {
	box-sizing: inherit;
}

body{
	color: #4a4a4a;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    font-family: Nunito Sans,sans-serif;
    background-color: #fff;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.hero-content-wrapper{
	padding-top: 12rem;
	padding-bottom: 10rem;
}
.hero-content{
	max-width: 1100px;
	position: relative;
}
.social-icons{
	padding: 10px 10px;
}

.fa-twitter, .fa-github, .fa-linkedin{
  font-size: 45px;
}
.superBolded{ 
    font-size: 6rem; 
}
.fade-in {
	opacity:0;  /* make things invisible initially */
	-webkit-animation:fadeIn ease-in 1;  /* call keyframe named fadeIn, use animation ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* to ensure we remain at the last keyframe value (opacity: 1) after animation is done */
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}

.fade-in.one {
-webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 0.7s;
}

.fade-in.two {
-webkit-animation-delay: 1.4s;
-moz-animation-delay:1.4s;
animation-delay: 1.4s;
}

.fade-in.three {
-webkit-animation-delay: 1.8s;
-moz-animation-delay: 1.8s;
animation-delay: 1.8s;
}

h1{
	color: #222;
	font-family: Nunito Sans, sans-serif;	
}

.nav-center {
	text-align: center;
	padding: 10px 10px;
}
a {
	color: #00b8d4;
	cursor: pointer;
	text-decoration: none;
}
a {
	color: #00b8d4;
	hover-color: #000;
	hover-font-style: none;
	active-color: #00b8d4;
}
/* .nav-item {
	-webkit-box-align: center;
	align-items: center;
	font-size: 1rem;
	-webkit-box-pack: center;
	justify-content: center;
	line-height: 1.5;
	padding: 0.5rem 0.75rem;
}
.nav-item {
	text-transform: uppercase;
	font-size: 16px;
	padding-right: 20px;
} */

.nav-item{
	position: relative;
	color: #000;
	text-decoration: none;
	justify-content: center;
	line-height: 1.5;
	padding: 0.5rem 0.75rem;
	font-size: 20px;
	padding-right: 20px;
}
.nav-item:hover{
	text-decoration: none;
}
a.nav-item:before {
	content: "";
	position: absolute;
	width: 80%;
	height: 2px;
	bottom: -5px;
	left: 20px;
	background-color: #00b8d4;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
  }
  
  a.nav-item:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
  }
  
  a.nav-item:active, a.nav-item:focus {
	outline: 0;
	border: none;
	-moz-outline-style: none;
	text-decoration: none;
  }

/*a.nav-item + a.nav-item::before{
  content: "|\0020\0020\0020";
}*/

#myTopnav a{
  display: inline;
  padding: 0 35px;
  border-left: dotted 1px grey;
}
@media (max-width: 480px) {  
	#myTopnav a{
		padding: 10px;
	}
}
#myTopnav a:first-child{
  border-left: none;
}
#myTopnav a:last-child{
  display: none;
}
.nav-center a {
	display: none;
}
/* @media all and (min-width:600px) */
.nav-center a {
	display: inline-block;
}
.nav-item a, a.nav-item {
	color: #7a7a7a;
}
.nav-center a.hamburger {
	display: block;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* @media all and (min-width:600px) */
#hamburger {
	display: none;
}

.section {
	background-color: #fff;
	/*padding: 3rem 1.5rem;*/
}

.myProjects {
	list-style: none;
}
