body{
  background: ghostwhite ;  
}
a{
  color: teal;
}
.brand, .site-title{
 	text-decoration: overline underline !important;
  	text-decoration-color: teal !important;
  	text-decoration-style: dotted !important;
}

.site-title{
  padding-left:25px;
  background:url(/img/Spider.png) no-repeat bottom right;
  display: inline-block;
  /*height: 22px;
   width: 22px;*/
}
.header{
	background: beige;
}

.header-inner{
  margin-bottom: 80px;
  /*padding: 20px 0;*/
	position: relative;
	margin: 0 auto;
}

.site-nav{
	padding-bottom: 5px;
}
.menu {
  float: right;
  margin: 8px 0 0 20px;
  padding: 0 20px;
}
 
.menu br {
  display: none;
}
.menu .menu-item {
  	float:left;
    margin-left: 2px;
    padding: 5px;
    list-style: none
}
 
.menu .menu-item a {
  padding: 5px 10px;
  background: none;
  border: none;
  transition-property: background;
}
 
.menu .menu-item a:hover {
  background: #e1e1e1;
}
.menu a::before {
  display: none;
}
 
 .pageContent{
 	margin-left: 25px;
 }